# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies (Biar gak berat pas upload)
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js (File rakitan lokal gak usah diupload)
/.next/
/out/

# production
/build

# misc (File sampah Mac OS)
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files (INI YANG PALING VITAL BOS!)
.env
.env*.local
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts